// colors
$color-primary: #15a465;
// Primary color gradients
$color-primary-light: #1ae98e;
$color-primary-dark: #18945d;
// $color-primary-light: #3e93a6;
// $color-primary-dark: #20e890;

$color-secondary: #c59634;
// Secondary color gradients
$color-secondary-light: #ffd885;
$color-secondary-dark: #c59430;

$color-tertiary: #184191;
// Tertiary color gradients
$color-tertiary-light: #6e9efb;
$color-tertiary-dark: #184191;

$color-alternate: #b81809;

$color-white: #fff;
$color-off-white: #fbfbf8;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f1dfdf;

$color-grey-dark-1: #777;
$color-grey-dark-2: #555555;

// Font
$default-font-size: 1.6rem;
$font-primary: "Playfair Display", sans-serif;
$font-secondary: "Open Sans", sans-serif;
